.section {
    border: 1px solid grey;
    overflow: hidden;
    height: 200px;
    width: 539px;
}

iframe {
    margin-top: -510px;
    margin-left: -20px;
    height: 710px;
    width: 580px;
}